{{#each this as |event|}}
	<tr id="{{id}}" data-event="{{json event}}">
		<td>
			<div class="icon">
				<div class="dragger">
					<span>&#8645;</span>
				</div>
			</div>
		</td>
		<td class="main">
			{{start_time}}
		</td>
		<td>
			{{name}}
		</td>
		<td>
			<div class="btn-group btn-group-sm">
				<button class="save_event_from_facebook btn btn-small btn-primary">Save this event</button>
			</div>
		</td>
	</tr>
{{/each}}
