<div class="ma1 relative h5 w5 fl thumbnail cover" data-id="{{id}}" style="background:url({{image_thumb_url}}) no-repeat center;">
	<div class="absolute blue f3 top-1 left-1 pointer dragger">
		<span class="glyphicon glyphicon-move"></span>
	</div>
	<div class="f3 absolute bottom-1 right-1">
		<a data-confirm="Are you sure?" class="delete__image" data-remote="true" rel="nofollow" data-method="delete" href="/images/{{id}}"> 
			<i class="fa fa-trash red" aria-hidden="true"></i>
		</a>	
	</div>
</div>
