<video
	id="videoarea"
	class="video-js vjs-default-skin vjs-big-play-centered"
	controls
	poster={{thumbnail}}
	width="640" >
</video>
<form id="quick_save_video">
	<input type="hidden" name="video[youtube_id]" value="{{youtube_id}}">
	<div class="form-group">
    <label for="videoInputTitle">Título do video</label>
    <input type="text" class="form-control" id="videoInputTitle" placeholder="título do video" name="video[title]" value="{{title}}">
  </div>
	<div class="form-group">
    <label for="videoInputDescription">Descrição do video</label>
		<textarea class="form-control" name="video[description]" rows="5">{{description}}</textarea>
  </div>
	<div class="btn-group btn-group-sm">
		<button id="video_edit_submit" class="save_video_from_youtube btn btn-small btn-primary" name="submit">Save this video</button>
	</div>
</form>
